/* Global Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Root Variables */
:root {
    --primary-color: #8670ff;
    --secondary-color: #f1f1f1;
    --accent-color: #ee6c63;
    --hover-bg-color: #e4e1e1;
    --num-tasks-bg-color: #C8C8C8;
    --text-color: #383838;
    --muted-text-color: #696969;
    --done-task-color: #BEBEBE;
    --button-text-color: #FFF;
    --button-bg-color: #dddbdb;
    --border-color: #C0C0C0;
    --input-bg-color: #FFF;
    --input-border-color: #C0C0C0;
    --shadow-color: #E8E8E8;
    --modal-shadow-color: #484848;
    --font-family: "Arial", sans-serif;
    --font-size-base: 0.875rem;
    --font-size-header: 1.5rem;
    --font-size-header-small: 1rem;
    --font-size-small: 0.8rem;
    --font-size-xsmall: 0.75rem;
    --border-radius: 0.5em;
    --border-radius-small: 0.375em;
    --button-padding: 0.8em;
    --input-padding: 0.65em 1em;
    --sidebar-width: 320px;
    --task-pane-width: 320px;
    --container-max-width: 1024px;
    --gap: 0.5em;
    --padding-large: 1.25em;
    --padding-small: 0.875em;
    --padding-xsmall: 0.5em;
    --header-height: 3.75em;
    --footer-height: 2.5em;
}

html,
body {
    color: var(--text-color);
    font-family: var(--font-family);
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: var(--container-max-width);
}

/* Main Module Grid */
#main-module {
    border-left: 1px var(--shadow-color);
    box-shadow: 8px 8px 18px var(--shadow-color);
    display: grid;
    font-size: var(--font-size-base);
    grid-template:
        "header header header header"
        "sidebar task-list-container task-list-container task-pane"
        "footer footer footer footer";
    grid-template-columns: 1fr 3fr 2fr;
    grid-template-rows: auto 1fr;
    height: 100vh;
    justify-content: center;
    max-width: var(--container-max-width);
}

/* Header */
header {
    align-items: center;
    background-color: var(--secondary-color);
    border-bottom: 1px solid var(--border-color);
    display: flex;
    font-size: var(--font-size-header);
    font-weight: bold;
    grid-area: header;
    justify-content: center;
    padding: var(--gap);
    width: 100%;
}

h3 {
    font-size: var(--font-size-header);
}

h4 {
    font-size: var(--font-size-header-small);
    margin-top: var(--padding-small);
}

/* Footer */
footer {
    align-items: center;
    color: var(--muted-text-color);
    display: flex;
    grid-area: footer;
    justify-content: center;
    padding: var(--gap);
}

/* Sidebar */
.sidebar {
    background-color: var(--secondary-color);
    border-right: 1px solid var(--border-color);
    font-size: var(--font-size-base);
    grid-area: sidebar;
    min-width: var(--sidebar-width);
    overflow-y: auto;
    padding: var(--padding-small);
}

.filter-container,
.project-container {
    border-bottom: 1px solid var(--border-color);
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    padding-bottom: var(--padding-small);
}

.sidebar .project-item,
.sidebar .filter-item {
    border-radius: var(--border-radius-small);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: var(--padding-xsmall);
    justify-content: center;
    padding: var(--padding-small);

}

.sidebar .project-item:hover,
.sidebar .filter-item:hover {
    background-color: var(--hover-bg-color);
}

.sidebar>div {
    margin-bottom: var(--gap);
}

.project-info,
.filter-info {
    display: flex;
    justify-content: space-between;
}

.project-options {
    display: flex;
}

.project-name-input-container {
    flex: 1;
    margin-right: var(--padding-small);
}

.project-name {
    flex: 1;
}

.project-name-input {
    margin: 0;
    padding: var(--padding-xsmall) var(--padding-small);
    width: 100%;
}

.project-name-input * {
    font-size: var(--font-size-base);
}

.num-tasks {
    align-items: center;
    background: var(--num-tasks-bg-color);
    border-radius: 50%;
    color: var(--text-color);
    display: inline-flex;
    font-size: var(--font-size-xsmall);
    height: 0.9rem;
    justify-content: center;
    margin-right: 0.25rem;
    padding: var(--padding-small) var(--padding-small);
    text-align: center;
    width: 0.9rem;
}

.new-project {
    display: flex;
    justify-content: end;
}

.add-project-btn {
    width: 100%;
}

.button-container {
    display: flex;
    gap: var(--padding-small);
    justify-content: left;
    margin-top: var(--padding-small);
}

/* Task List Container */
.task-list-container {
    background-image: url('../public/dot-grid.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    border-right: 1px solid var(--border-color);
    display: flex;
    flex-direction: column;
    gap: var(--padding-large);
    grid-area: task-list-container;
    min-width: var(--sidebar-width);
    overflow-y: auto;
    padding: var(--padding-large);
}

/* Task Pane */
.field-container {
    margin-bottom: var(--padding-small);
}

.field-label {
    display: block;
    font-size: var(--font-size-base);
    font-weight: bold;
    margin-bottom: var(--padding-small);
}

.task-pane {
    background-color: var(--secondary-color);
    grid-area: task-pane;
    overflow-y: auto;
    padding: var(--padding-large);
    width: var(--task-pane-width);
}

.task-options-el {
    display: flex;
    gap: var(--gap);
}

.task-name {
    cursor: pointer;
}

/* Buttons */
button {
    background: var(--button-bg-color);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    cursor: pointer;
    margin: 0 2px;
    padding: var(--button-padding);
    transition: filter 0.2s;
}

button:hover {
    filter: brightness(85%);
}

.create-project-btn,
.save-task-btn {
    background-color: var(--primary-color);
    color: var(--button-text-color);
}

.delete-btn {
    background-color: var(--accent-color);
    color: var(--button-text-color);
}

/* Inputs and Textareas */
input,
textarea,
select {
    border: none;
    font-family: var(--font-family);
    font-size: var(--font-size-base);
    margin: 0;
    outline: none;
    padding: var(--input-padding);
}

textarea {
    font-family: var(--font-family);
    min-height: 100px;
    resize: vertical;
}

input[type="text"],
input[type="password"],
.due-date,
textarea,
select {
    background-color: var(--input-bg-color);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius-small);
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
    color: var(--text-color);
    font-family: var(--font-family);
    font-size: var(--font-size-base);
    margin: var(--padding-xsmall);
    outline: none;
    padding: var(--input-padding);
    transition: all 0.3s ease;
    width: 100%;
}

input:hover,
textarea:hover {
    border-color: var(--border-color);
}

input:focus,
textarea:focus {
    background-color: var(--input-bg-color);
    border-color: var(--primary-color);
    box-shadow: 0 0 5px rgb(0 123 255 / 50%);
}

input::placeholder,
textarea::placeholder {
    color: var(--muted-text-color);
    font-style: italic;
}

/* Task List */
.task-list {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

.task-top,
.task-bottom {
    display: flex;
    gap: var(--gap);
}

.task-item {
    background: var(--secondary-color);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    cursor: pointer;
    display: flex;
    gap: var(--padding-small);
    padding: var(--padding-small);
}

.task-item:hover {
    background: var(--hover-bg-color);
}

.task-item.done {
    color: var(--done-task-color);
    margin: var(--padding-xsmall) 0 var(--padding-small) 0;
    text-decoration: line-through;
}

.task-item.done:hover {
    background: var(--secondary-color);
}

/* Modal */

.modal-overlay {
    background: rgb(0 0 0 / 50%);
    height: 100%;
    left: 0;
    pointer-events: all;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;

}

.modal {
    background-color: var(--input-bg-color);
    border-radius: var(--border-radius);
    box-shadow: 0 5px 15px rgb(0 0 0 / 30%);
    left: 50%;
    min-width: 300px;
    padding: var(--padding-large);
    position: fixed;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 45%;
    z-index: 1000;
}

.modal>div {
    margin: var(--padding-large);
}

/* Utility Classes */
.display-none {
    display: none;
}

.blurred {
    filter: blur(2px);
    pointer-events: none;
    user-select: none;
    z-index: 1;
}